{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Deal & Tasks</h1>

        <div class="container-fluid mt-3" style="width: 80%; margin: auto;">
            <div class="row">
                <div class="col-md-6 bg-primary text-black p-3">Title</div>
                <div class="col-md-6 bg-dark text-white p-3">{{ deal.deal_title }}</div>
            </div>
            <div class="row">
                <div class="col-md-6 bg-primary text-black p-3">Amount</div>
                <div class="col-md-6 bg-dark text-white p-3">{{ deal.deal_amount }}</div>
            </div>
            <div class="row">
                <div class="col-md-6 bg-primary text-black p-3">Status</div>
                <div class="col-md-6 bg-dark text-white p-3">
                    <span style="display: inline-block; margin-right: 2%;">{{ deal.deal_status }}</span>
                    <a id='anchorDealStatus' class="btn btn-info" onclick="updateDeal()" role="button">Update</a>
                </div>
            </div>
            <div class="container" style="display: none;" id="id_update_deal_status">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5 mb-3">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">Update Deal Status</h3>
                            </div>
                            <div class="card-body">
                                <label class="form-label" for="update_deal_status">Status Menu</label>
                                <div id="dealStatusU">
                                    <select class="form-select" name="update_deal_status" id="update_deal_status">
                                        <option value="Open">Open</option>
                                        <option value="Lost">Lost</option>
                                        <option value="Closed">Closed</option>
                                    </select>
                                    <button onclick="updateDealStatus('{{ deal.id }}')"
                                        class="btn btn-primary btn-block">Save changes</button>
                                    <button onclick="updateDealClose()"
                                        class="btn btn-secondary btn-block">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 bg-primary text-black p-3">Initiation Date</div>
                <div class="col-md-6 bg-dark text-white p-3">{{ deal.deal_initiationDate }}</div>
            </div>
            <div class="row">
                <div class="col-md-6 bg-primary text-black p-3">Expected Close Date</div>
                <div class="col-md-6 bg-dark text-white p-3">{{ deal.deal_expectedCloseDate }}</div>
            </div>
            <div class="row">
                <div class="col-md-6 bg-primary text-black p-3">Customer</div>
                <div class="col-md-6 bg-dark text-white p-3">{{ deal.deal_withCustomer }}</div>
            </div>
        </div>

        <div class="card mb-4" style="margin: 5%;">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Task List
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Due Date</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Update Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                        <tr>
                            <td>{{ task.task_title }}</td>
                            <td>{{ task.task_dueDate }}</td>
                            <td>{{ task.task_description }}</td>
                            <td>{{ task.task_status }}</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal-{{ forloop.counter0 }}">
                                    Update
                                </button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger"
                                    onclick="deleteTaskfunc('{{ task.pk }}')">Delete Task</button>
                            </td>
                        </tr>
                        <div class="modal fade" id="exampleModal-{{ forloop.counter0 }}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Task: {{ task.task_title }}
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close">
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label class="form-label" for="update_task_status">Status Menu:</label>
                                                <select class="form-select" id="update_task_status"
                                                    name="update_task_status">
                                                    <option value="Open">Open</option>
                                                    <option value="Wait">Wait</option>
                                                    <option value="Closed">Closed</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" onclick="updateTask('{{ task.id }}')"
                                            class="btn btn-primary">Save changes</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="container" id="TaskBlock" style="display: none;">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header">
                            <h3 class="text-center font-weight-light my-4">Task</h3>
                        </div>
                        <div class="card-body">
                            <form method="POST" id="TaskForm">
                                {% csrf_token %}
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <p><label>Title</label></p>
                                        <div class="form-floating">
                                            <input type="text" id="title" name="title" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <p><label>Due Date</label></p>
                                        <div class="form-floating">
                                            <input type="date" id="datetime" name="duedate" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <p><label>Status</label></p>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="dropdown">
                                            <select id="task_status" name="task_status">
                                                <option value="Open">Open</option>
                                                <option value="Wait">Wait</option>
                                                <option value="Closed">Closed</option>
                                            </select>
                                        </button>
                                    </div>
                                </div>
                                <div class="form-floating mb-3">
                                    <div class="input-group">
                                        <span class="input-group-text">Description</span>
                                        <textarea class="form-control" id="description" name="description"></textarea>
                                    </div>
                                </div>

                                <div class="mt-4 mb-0">
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-primary btn-block">Create</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="display: inline-block;">
            <a><button id="anchorTaskStatus" onclick="Block()" class="btn btn-secondary btn-block">Add
                    Task</button></a>
            <a href="{% url 'delete_deal' pk=deal.pk %}"><button class="btn btn-danger btn-block">Delete
                    Deal</button></a>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    function updateTask(taskpk) {
        let selectedValue = $('#update_task_status').val();
        $.ajax({
            type: 'POST',
            url: '/customer/updateTask/' + taskpk,
            data: {
                'update_task_status': selectedValue
            },
            success: function (response) {
                Swal.fire({
                    icon: 'success',
                    title: 'Status Updated',
                    showConfirmButton: false,
                    timer: 2000
                });

                setTimeout(function () {
                    location.reload();
                }, 2000);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
    function updateDealStatus(dealpk) {
        let selectedValue = $('#update_deal_status').val();

        $.ajax({
            type: 'POST',
            url: '/customer/updateDeal/' + dealpk,
            data: {
                'update_deal_status': selectedValue
            },
            success: function (response) {
                Swal.fire({
                    icon: 'success',
                    title: 'Status Updated',
                    showConfirmButton: false,
                    timer: 2000
                });

                setTimeout(function () {
                    location.reload();
                }, 2000);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    document.addEventListener("DOMContentLoaded", function () {
        let TaskFrmElement = document.getElementById("TaskForm")
        if (TaskFrmElement) {
            // Add event listener to the form submission
            document.getElementById("TaskForm").addEventListener("submit", function (event) {
                // Check if the form is valid
                if (!this.checkValidity()) {
                    // If the form is not valid, prevent the default form submission
                    event.preventDefault();
                    // Trigger HTML5 form validation to display validation messages
                    this.reportValidity();
                } else {
                    // If the form is valid, proceed with AJAX submission
                    event.preventDefault(); // Prevent default submission
                    let title = $('#title').val();
                    let task_status = $('#task_status').val();
                    let description = $('#description').val();
                    let duedate = $('#datetime').val();

                    $.ajax({
                        type: 'POST',
                        url: '/customer/dealTasks/' + "{{ deal.pk }}",
                        data: {
                            'title': title,
                            'task_status': task_status,
                            'description': description,
                            'duedate': duedate
                        },
                        success: function (response) {
                            if (response.error) {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Oops..',
                                    text: 'Due Date must be between deal initialtion and close date and also greater than previous due date',
                                    showCloseButton: true
                                });
                            } else {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Task Created',
                                    showConfirmButton: false,
                                    timer: 2000
                                });

                                setTimeout(function () {
                                    location.reload();
                                }, 2000);
                            }
                        },
                        error: function (xhr, status, error) {
                            console.log(status, error);
                        }
                    });

                }
            });
        }
    });

    function deleteTaskfunc(taskpk) {
        $.ajax({
            type: 'POST',
            url: '/customer/deleteTask/' + taskpk,
            success: function (response) {
                Swal.fire({
                    icon: 'success',
                    title: 'Task Deleted',
                    showConfirmButton: false,
                    timer: 2000
                });

                setTimeout(function () {
                    location.reload();
                }, 2000);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
    function Block() {
        let x = document.getElementById("TaskBlock");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function updateDeal() {
        let x = document.getElementById("id_update_deal_status")
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function updateDealClose() {
        let x = document.getElementById("id_update_deal_status")
        x.style.display = "none";
    }

    document.getElementById('anchorDealStatus').addEventListener('click', function (event) {
        let targetElement = document.getElementById('id_update_deal_status');
        targetElement.scrollIntoView({
            behavior: 'smooth'
        });
    });

    document.getElementById('anchorTaskStatus').addEventListener('click', function (event) {
        let targetElement = document.getElementById('TaskBlock');
        targetElement.scrollIntoView({
            behavior: 'smooth'
        });
    });
</script>
{% endblock %}