{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <div class="container-fluid px-4">
        {% if groups == 'normal' %}
        <div class="container-fluid mt-3 mb-3" style="width: 100%; margin: auto;">
            <div class="row">
                <div class="col-md-6 bg-primary text-black p-3">Name: <span style="font-weight: bold;">{{ users }}</span></div>
                <div class="col-md-6 bg-dark text-white p-3">Role: <span style="font-weight: bold;">{{ groups }}</span></div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Statistics</h5>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card border-primary mb-3">
                            <div class="card-header">Customers Registered</div>
                            <div class="card-body text-primary">
                                <h5 class="card-title">{{ registeredCustomerCount }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card border-success mb-3">
                            <div class="card-header">Deals Made</div>
                            <div class="card-body text-success">
                                <h5 class="card-title">{{ dealWonCount }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card border-danger mb-3">
                            <div class="card-header">Unsucessfull deals</div>
                            <div class="card-body text-danger">
                                <h5 class="card-title">{{ dealLostCount }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if groups == 'manager' %}
        <div class="container-fluid mt-3 mb-3" style="width: 100%; margin: auto;">
            <div class="row">
                <div class="col-md-6 bg-primary text-black p-3">Name: <span style="font-weight: bold;">{{ users }}</span></div>
                <div class="col-md-6 bg-dark text-white p-3">Role: <span style="font-weight: bold;">{{ groups }}</span></div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Statistics</h5>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card border-warning mb-3">
                            <div class="card-header">Pending Deals</div>
                            <div class="card-body text-primary">
                                <h5 class="card-title">{{ pending_deals }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card border-danger mb-3">
                            <div class="card-header">Deals Lost</div>
                            <div class="card-body text-success">
                                <h5 class="card-title">{{ lost_deals }}/{{ total_deals }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card border-success mb-3">
                            <div class="card-header">Successfull Deals</div>
                            <div class="card-body text-danger">
                                <h5 class="card-title">{{ success_deals }}/{{ total_deals }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card border-info mb-3">
                            <div class="card-header">Ongoing Deals</div>
                            <div class="card-body text-danger">
                                <h5 class="card-title">{{ ongoing_deals }}/{{ total_deals }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card border-success mb-3">
                            <div class="card-header">Total Earnings</div>
                            <div class="card-body text-success">
                                <h5 class="card-title">&#8377;{{ total_earnings }}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card border-secondary mb-3">
                            <div class="card-header">Completed Task</div>
                            <div class="card-body text-danger">
                                <h5 class="card-title">{{ completed_task }}/{{ total_task }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}
    </div>
</main>
{% endblock %}